@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #f9f5f0;
    --foreground: #4f0b06;

    --title: #fff;
    --playfair-display: "Playfair Display", serif;
    --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

    --primary-color: #dfd6d5;
    --secondary-color: #410602;
    --tercary-color: #e5c6c1;

    --black-200: #020202;
    --black-300: #333333;
    --black-400: #1f1e31;
    --black-500: #555555;
    --gray-100: #888888;

    --color-white: #fff;
    --color-creamson: #f5f9f0;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

/* .header__nav {
    display: flex;
    overflow: hidden;
} */

.header__logo h4 {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    font-family: var(--playfair-display);
    color: var(--color-white);
}

.header__menu,
.header__menu-mobile {
    padding: 20px;
    flex: 1.236;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 64px;

    list-style: none;
}

.header__menu li {
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
    cursor: pointer;
}

.header__menu li img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.header__menu-mobile {
    display: none;
    gap: 20px;

    position: relative;
}

.section-left-red {
    @apply flex flex-col  justify-center items-center basis-2/5 bg-[#B1454A];
}

.hero {
    display: flex;
    min-height: calc(80vh - 60px);
    overflow: hidden;
    margin-top: 66px;
}

/* .hero-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
} */

/* .hero-image img {
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
} */

.hero-image__overlay {
    position: absolute;
    inset: 0;
    width: 100%;

    background-color: var(--primary-color);
    z-index: -1;
}

.hero-image img {
    position: absolute;
    top: -7px;
    left: 0px;
    z-index: 1000;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hero-content-info {
    flex: 1;
    display: flex;
    justify-content: top;
    flex-direction: column;
}

.hero-content-info h1 {
    font-weight: 600px;
    font-family: var(--playfair-display);
    color: var(--secondary-color);
}

.hero-content-info p {
    margin: 32px 0 0 0;

    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 400;
}

.hero-content__cta-button {
    padding: 16px 34px;
    margin-top: 50px;
    min-width: 220px;

    border-radius: 999px;
    border: 1px solid rgba(65, 6, 2, 0.15);

    background: linear-gradient(135deg, var(--secondary-color), #783833);

    color: white;
    font-family: var(--plus-jakarta-sans);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.4px;

    cursor: pointer;
    position: relative;
    transition: color 0.25s ease, transform 0.25s ease, box-shadow 0.25s ease,
        background 0.25s ease;
}

/* Hover premium */
.hero-content__cta-button:hover {
    text-decoration: underline;
    box-shadow: 0 2px 6px rgba(65, 6, 2, 0.1);
}

/* Click */
.hero-content__cta-button:active {
    transform: translateY(0) scale(0.97);
}

/* Focus accessible */
.hero-content__cta-button:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px rgba(183, 93, 113, 0.35);
}

.hero-content__testimonial {
    padding: 30px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    background: var(--color-white);
}

.hero-content__experience {
    flex-basis: 30%;
    margin-left: 20px;
}

.hero-content__experience h4 {
    font-size: 62px;
    font-weight: 400;
    font-family: var(--playfair-display);
}

.hero-content__japanese-title {
    text-shadow: 2px 2px 4px #4f0b06;
}

.hero-content__experience p {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    opacity: 0.5;
}

.hero-content__customer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    padding-left: 20px;
    border-left: 1px solid rgba(2, 2, 2, 0.1);
    min-width: 200px;
}

.hero-content__customer img {
    width: 42px;
    height: 42px;
    object-fit: contain;
}

.hero-content__customer p {
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    opacity: 0.8;
}

#sakura-zone {
    cursor: crosshair;
}

.about-ikebana {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    padding-top: 80px; /* Ajuste selon la hauteur de ton header */
    scroll-margin-top: 80px;
}

.about-ikebana h2 {
    padding: 40px 0 40px 20px;

    font-family: var(--playfair-display);
    font-weight: 700;
    font-size: 120px;
    line-height: 138px;
    color: #fff;
}

.image-soft-filter {
    filter: blur(0) saturate(0.7) contrast(1.3);
    transform: scale(1.02); /* évite le bord flou visible */
}

.image-overlay {
    background: linear-gradient(
            180deg,
            rgba(249, 240, 240, 0),
            rgba(249, 245, 240, 0.785)
        ),
        radial-gradient(
            circle at center,
            rgba(222, 219, 8, 0.001),
            transparent 70%
        );
    pointer-events: none;
}
